
/*Color scheme for website: #3d5a80, #98c1d9, #e0fbfc, #ee6c4d, and #293241*/
body {
    background-color: e0fbfc;
    line-height: 1.8;
    color: black;
    padding-top: 0px !important;
  }

p {font-size: 16px;
  color: #293241;
  font-family: "Gill Sans", sans-serif;
}

h3{
  color: #3d5a80;
  font-family: "Gill Sans", sans-serif;
}

h4{
  color: #3d5a80;
  font-family: "Gill Sans", sans-serif;
}


.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
}